@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: kanit;
    display: inline-block;
    text-align: center;
    align-items: center;
    min-width: 100%;
    background-image: url(./img/WELCOME.svg);
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
}
h1{
    display: block;
    color:black;
    font-size:800%;
}

a{
    margin: auto  0;
    display: flex;
    text-decoration: none;
    color:black;
    width: 98%;
    height: 200px;
    background-color: rgb(120,200,50);
    border: 5px solid black;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/WELCOME.svg);
    font-size: 350%;
    transition: 1s;
}

a:hover{
    transition:0s;
    color:whitesmoke;
}